html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    background-color: black;
}

.header a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.center h4 {
    font-weight: 300;
    font-size: 42px;
}

.center h6 {
    font-size: 21px;
    color: gray;
    font-weight: lighter;
}