html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    background-color: black;
}

.header a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}